## Problem
We need to decide on the order of presentations for next Tuesday and Thursday.

## Data
A list of students from the CCLE site.

In [34]:
import pandas as pd
import random

infile = "eeb174-undergrads.csv"

# lets have a look at the infile
with open(infile,'r') as ff:
    undergrads = ff.read()

for line in undergrads.splitlines():
    print(line)

Name,E-mail
"CASTRO, DOMINIQUE SAN ANGELITO"
"CHAU, YEE"
"DANG, TIFFANY M"
"DOWNING, MADISON ROSE"
"GONZALEZ, ANTONELLA MARIE"
"HOVSEPYAN, GAYANE"
"JIANG, KELSEY DIAN"
"KANTAWALA, ADITYA"
"KASS, COOPER AARON"
"KIL, HYEIN"
"KIM, JIN SUN"
"KIM, JUNGHOON"
"KIM, SARAH"
"LEE, JEFFREY QUINN"
"LEE, KRISTEN KAZUMI"
"MATHEW, SEAN JOSEPH"
"MUIA, MATTHEW PAUL"
"NOJOUMI, MEHDI"
"NOJOUMI, ROXANA"
"PARIKH, ASHEN UTPAL"
"SALAMA, MARINA FAROUK"
"SALAMA, YOUSTINA FAROUK"
"SHIEH, JUSTIN"
"SOLIS, ERIN MARIE"
"SUN, LINNA"
"TREJO, LAURA"
"WADOWSKI, JEREMY S"
"WONG, DUSTIN SINGWEI"
"ZHOU, CHRISTINA"

Lools like the first line in the file is misleading (no emails are included) and we have some blank lines at the end. Lets see if we can eliminate these problems.

In [43]:
undergrads = undergrads.strip("\n\n\n")
studentNames = undergrads.splitlines()
studentNames = studentNames[1:] #get rid of the header row
for line in studentNames:
    print(line)

"CASTRO, DOMINIQUE SAN ANGELITO"
"CHAU, YEE"
"DANG, TIFFANY M"
"DOWNING, MADISON ROSE"
"GONZALEZ, ANTONELLA MARIE"
"HOVSEPYAN, GAYANE"
"JIANG, KELSEY DIAN"
"KANTAWALA, ADITYA"
"KASS, COOPER AARON"
"KIL, HYEIN"
"KIM, JIN SUN"
"KIM, JUNGHOON"
"KIM, SARAH"
"LEE, JEFFREY QUINN"
"LEE, KRISTEN KAZUMI"
"MATHEW, SEAN JOSEPH"
"MUIA, MATTHEW PAUL"
"NOJOUMI, MEHDI"
"NOJOUMI, ROXANA"
"PARIKH, ASHEN UTPAL"
"SALAMA, MARINA FAROUK"
"SALAMA, YOUSTINA FAROUK"
"SHIEH, JUSTIN"
"SOLIS, ERIN MARIE"
"SUN, LINNA"
"TREJO, LAURA"
"WADOWSKI, JEREMY S"
"WONG, DUSTIN SINGWEI"
"ZHOU, CHRISTINA"

In [45]:
print("There are {} undergrads".format(len(studentNames)))

There are 29 undergrads

We have two days. Lets do 15 on day 1 and 14 on day 2. We use the `random.sample()` function from the random library to randomize the list. Then we subet this into days 1 and 2.

In [48]:

#first lets make a list of each undergrad name
class_order = random.sample(studentNames, len(studentNames) )
class_order

day1 = class_order[0:15]
day2 = class_order[15:]
print(len(day1) + len(day2)) # make sure we aren't leaving anyone out

29

In [49]:

print("Tuesday, March 14th")
for student in day1:
    lname, fname = student.strip('"').split(",")
    print("{} {}".format(fname, lname))
    
print("Thursday, March 16th")
for student in day2:
    lname, fname = student.strip('"').split(",")
    print("{} {}".format(fname, lname))
    
print(class_order)

Tuesday, March 14th
 MADISON ROSE DOWNING
 CHRISTINA ZHOU
 DOMINIQUE SAN ANGELITO CASTRO
 ADITYA KANTAWALA
 ANTONELLA MARIE GONZALEZ
 SARAH KIM
 LAURA TREJO
 HYEIN KIL
 COOPER AARON KASS
 KELSEY DIAN JIANG
 ERIN MARIE SOLIS
 ROXANA NOJOUMI
 MATTHEW PAUL MUIA
 JIN SUN KIM
 JUSTIN SHIEH
Thursday, March 16th
 JEREMY S WADOWSKI
 MEHDI NOJOUMI
 MARINA FAROUK SALAMA
 ASHEN UTPAL PARIKH
 JEFFREY QUINN LEE
 GAYANE HOVSEPYAN
 YEE CHAU
 SEAN JOSEPH MATHEW
 TIFFANY M DANG
 LINNA SUN
 DUSTIN SINGWEI WONG
 YOUSTINA FAROUK SALAMA
 KRISTEN KAZUMI LEE
 JUNGHOON KIM
['"DOWNING, MADISON ROSE"', '"ZHOU, CHRISTINA"', '"CASTRO, DOMINIQUE SAN ANGELITO"', '"KANTAWALA, ADITYA"', '"GONZALEZ, ANTONELLA MARIE"', '"KIM, SARAH"', '"TREJO, LAURA"', '"KIL, HYEIN"', '"KASS, COOPER AARON"', '"JIANG, KELSEY DIAN"', '"SOLIS, ERIN MARIE"', '"NOJOUMI, ROXANA"', '"MUIA, MATTHEW PAUL"', '"KIM, JIN SUN"', '"SHIEH, JUSTIN"', '"WADOWSKI, JEREMY S"', '"NOJOUMI, MEHDI"', '"SALAMA, MARINA FAROUK"', '"PARIKH, ASHEN UTPAL"', '"LEE, JEFFREY QUINN"', '"HOVSEPYAN, GAYANE"', '"CHAU, YEE"', '"MATHEW, SEAN JOSEPH"', '"DANG, TIFFANY M"', '"SUN, LINNA"', '"WONG, DUSTIN SINGWEI"', '"SALAMA, YOUSTINA FAROUK"', '"LEE, KRISTEN KAZUMI"', '"KIM, JUNGHOON"']

can we make the output prettier?

How could we change output to....

```
Presentation time  Student Name
        9:35         Jon Snow
        9:40         Arya Stark
        ...          ...
        
```
stay tuned....

In [50]:
# import pandas as pd
# pd.date_range("9:35", "10:45", freq="5min").time

In [ ]:
# #infile = "/Users/michael_alfaro/Dropbox/teaching/EEB-174-2016/16W-528180200-Winter_2016-EE_BIOL_C230_LEC_1-tsv.tsv"
# ###now do the same for the undergrads
# infile = "/Users/michael_alfaro/Dropbox/teaching/EEB-174-2016/16W-128744200-Winter_2016-EE_BIOL_C174_LEC_1-tsv.tsv"
# #grads = pd.read_csv(infile, sep = "\t", index_col = "UID")
# undergrads = pd.read_csv(infile, sep = "\t", index_col = "UID")

# #names = grads["Name"].tolist()
# names = undergrads["Name"].tolist()


# class_order = random.sample(names, len(names) )