## Problem
We need to decide on the order of presentations for next Tuesday and Thursday.

## Data
A list of students from the CCLE site.

15

In [82]:
import pandas as pd
import random

infile = "eeb174-undergrads.csv"

# lets have a look at the infile
with open(infile,'r') as ff:
    undergrads = ff.read()

for line in undergrads.splitlines():
    print(line)

Name,E-mail
"CASTRO, DOMINIQUE SAN ANGELITO"
"CHAU, YEE"
"DANG, TIFFANY M"
"DOWNING, MADISON ROSE"
"GONZALEZ, ANTONELLA MARIE"
"HOVSEPYAN, GAYANE"
"JIANG, KELSEY DIAN"
"KANTAWALA, ADITYA"
"KASS, COOPER AARON"
"KIL, HYEIN"
"KIM, JIN SUN"
"KIM, JUNGHOON"
"KIM, SARAH"
"LEE, JEFFREY QUINN"
"LEE, KRISTEN KAZUMI"
"MATHEW, SEAN JOSEPH"
"MUIA, MATTHEW PAUL"
"NOJOUMI, MEHDI"
"NOJOUMI, ROXANA"
"PARIKH, ASHEN UTPAL"
"SALAMA, MARINA FAROUK"
"SALAMA, YOUSTINA FAROUK"
"SHIEH, JUSTIN"
"SOLIS, ERIN MARIE"
"SUN, LINNA"
"TREJO, LAURA"
"WADOWSKI, JEREMY S"
"WONG, DUSTIN SINGWEI"
"ZHOU, CHRISTINA"

Lools like the first line in the file is misleading (no emails are included) and we have some blank lines at the end. Lets see if we can eliminate these problems.

In [83]:
undergrads = undergrads.strip("\n\n\n")
studentNames = undergrads.splitlines()
studentNames = studentNames[1:] #get rid of the header row
for line in studentNames:
    print(line)

"CASTRO, DOMINIQUE SAN ANGELITO"
"CHAU, YEE"
"DANG, TIFFANY M"
"DOWNING, MADISON ROSE"
"GONZALEZ, ANTONELLA MARIE"
"HOVSEPYAN, GAYANE"
"JIANG, KELSEY DIAN"
"KANTAWALA, ADITYA"
"KASS, COOPER AARON"
"KIL, HYEIN"
"KIM, JIN SUN"
"KIM, JUNGHOON"
"KIM, SARAH"
"LEE, JEFFREY QUINN"
"LEE, KRISTEN KAZUMI"
"MATHEW, SEAN JOSEPH"
"MUIA, MATTHEW PAUL"
"NOJOUMI, MEHDI"
"NOJOUMI, ROXANA"
"PARIKH, ASHEN UTPAL"
"SALAMA, MARINA FAROUK"
"SALAMA, YOUSTINA FAROUK"
"SHIEH, JUSTIN"
"SOLIS, ERIN MARIE"
"SUN, LINNA"
"TREJO, LAURA"
"WADOWSKI, JEREMY S"
"WONG, DUSTIN SINGWEI"
"ZHOU, CHRISTINA"

In [84]:
print("There are {} undergrads".format(len(studentNames)))

There are 29 undergrads

We have two days. Lets do 15 on day 1 and 14 on day 2. We use the `random.sample()` function from the random library to randomize the list. Then we subet this into days 1 and 2.

In [96]:

#first lets make a list of each undergrad name
class_order = random.sample(studentNames, len(studentNames) )
class_order

day1 = class_order[0:15]
day2 = class_order[15:]
print(len(day1) + len(day2)) # make sure we aren't leaving anyone out

29

In [86]:

print("Tuesday, March 14th")
for student in day1:
    lname, fname = student.strip('"').split(",")
    print("{} {}".format(fname, lname))
    
print("Thursday, March 16th")
for student in day2:
    lname, fname = student.strip('"').split(",")
    print("{} {}".format(fname, lname))
    
#print(class_order)

Tuesday, March 14th
 LAURA TREJO
 ASHEN UTPAL PARIKH
 YOUSTINA FAROUK SALAMA
 MATTHEW PAUL MUIA
 ANTONELLA MARIE GONZALEZ
 SEAN JOSEPH MATHEW
 ADITYA KANTAWALA
 HYEIN KIL
 TIFFANY M DANG
 MADISON ROSE DOWNING
 COOPER AARON KASS
 KELSEY DIAN JIANG
 DOMINIQUE SAN ANGELITO CASTRO
 CHRISTINA ZHOU
 DUSTIN SINGWEI WONG
Thursday, March 16th
 JEREMY S WADOWSKI
 ROXANA NOJOUMI
 MARINA FAROUK SALAMA
 MEHDI NOJOUMI
 GAYANE HOVSEPYAN
 JEFFREY QUINN LEE
 YEE CHAU
 JIN SUN KIM
 KRISTEN KAZUMI LEE
 SARAH KIM
 ERIN MARIE SOLIS
 JUSTIN SHIEH
 JUNGHOON KIM
 LINNA SUN

can we make the output prettier?

How could we change output to....

```
Presentation time  Student Name
        9:35         Jon Snow
        9:40         Arya Stark
        ...          ...
        
```
stay tuned....

Lets try the datetime module

In [102]:
import datetime

dt = datetime.datetime(2017, 3, 14, 9, 30)
end = datetime.datetime(2017, 3, 14, 10, 30)
step = datetime.timedelta(minutes=4)

times = []

while dt < end:
    times.append(dt.strftime('%H:%M'))
    dt += step
    
for tt in times:
    print(tt)

09:30
09:34
09:38
09:42
09:46
09:50
09:54
09:58
10:02
10:06
10:10
10:14
10:18
10:22
10:26

OK that looks pretty good. Now we need to print this out with our names

In [122]:
def schedPrinter(times, student_names):
    # this function prints out the times and names of students for an oral presentation
    title = "TIME\t\tSTUDENT"
    for time, name in zip(times, student_names):
        lname, fname = name.strip('"').split(',')
        fname = (fname.lstrip().capitalize().split(" ")[0])
        lname = lname.capitalize()
        print("{}\t{} {}  ".format(time, fname, lname))

##I use the ## in the print statements below because I am planning to process this text as a markdown cell
print("## Lightning Talk Schedule for Tuesday, March 14th")
schedPrinter(times, day1)  
print("\n")
print("## Lightning Talk Schedule for Thursday, March 16th")
schedPrinter(times, day2)

## Lightning Talk Schedule for Tuesday, March 14th
09:30	Kelsey Jiang
09:34	Dominique Castro
09:38	Linna Sun
09:42	Ashen Parikh
09:46	Matthew Muia
09:50	Antonella Gonzalez
09:54	Yee Chau
09:58	Kristen Lee
10:02	Madison Downing
10:06	Youstina Salama
10:10	Jeremy Wadowski
10:14	Mehdi Nojoumi
10:18	Junghoon Kim
10:22	Dustin Wong
10:26	Hyein Kil


## Lightning Talk Schedule for Thursday, March 16th
09:30	Aditya Kantawala
09:34	Justin Shieh
09:38	Sarah Kim
09:42	Christina Zhou
09:46	Gayane Hovsepyan
09:50	Roxana Nojoumi
09:54	Cooper Kass
09:58	Jeffrey Lee
10:02	Laura Trejo
10:06	Jin Kim
10:10	Marina Salama
10:14	Erin Solis
10:18	Sean Mathew
10:22	Tiffany Dang

## Lightning Talk Schedule for Tuesday, March 14th
09:30	Kelsey Jiang  
09:34	Dominique Castro  
09:38	Linna Sun  
09:42	Ashen Parikh  
09:46	Matthew Muia  
09:50	Antonella Gonzalez  
09:54	Yee Chau  
09:58	Kristen Lee  
10:02	Madison Downing  
10:06	Youstina Salama  
10:10	Jeremy Wadowski  
10:14	Mehdi Nojoumi  
10:18	Junghoon Kim  
10:22	Dustin Wong  
10:26	Hyein Kil  


## Lightning Talk Schedule for Thursday, March 16th
09:30	Aditya Kantawala  
09:34	Justin Shieh  
09:38	Sarah Kim  
09:42	Christina Zhou  
09:46	Gayane Hovsepyan  
09:50	Roxana Nojoumi  
09:54	Cooper Kass  
09:58	Jeffrey Lee  
10:02	Laura Trejo  
10:06	Jin Kim  
10:10	Marina Salama  
10:14	Erin Solis  
10:18	Sean Mathew  
10:22	Tiffany Dang